{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Вход</title>
	<link href="{% static 'embase/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'embase/css/style.css' %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  </head>

<body>
    <div class="row form-block" id="login">
      <div class="col-md-12 text-center">
        <p id="login-title">База сотрудников предприятия.</p>
        <form method="post">
          {% csrf_token %}
          <div class="form-error">{{ form.non_field_errors }}</div>

          {% for f in form %}
          <p class="form-label">{{ f.label }}:</p>
          <p class="form-input">{{ f }}</p>
          <div class="form-error">{{ f.errors }}</div>
          {% endfor %}
          <input type="submit" value="Войти">
        </form>
      </div>
    </div>
</body>
